################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MS2_DVD_API/.vs/MS2_DVD_API/FileContentIndex
